<table id='user-table' class="table table-bordered table-hover">
   {% for u in users %}
        <tr class='success'>
           <td>{{u[0]}}</td>
           <td>{{u[1]}}</td>
           <td>
<span data-user='{{u[0]}}'class="deluser-btn glyphicon glyphicon-trash text-danger" aria-hidden="true"></span> 

                |<a href='/updatepwd?user={{u[0]}}'>
<span class="glyphicon glyphicon-edit text-success" aria-hidden="true"></span> update
</a>

        </td>
        </tr>
        {% endfor %}

</table>
